<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bloom Boutique</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">
                    <img src="/img/logo.png" alt="Bloom Boutique Logo">
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="/items">Browse</a></li>
                    <li><a href="/items/new">Sell</a></li>
                    <%if(!user){ %>
                    <li><a href="/user/login">Login</a></li>
                    <li><a href="/user/new">Sign Up</a></li>
                    <%} else {%>
                    <li><a href="/user/profile"><%=user.firstName%> Account</a></li>
                    <li><a href="/user/logout">Log out</a></li>
                    <%}%>

                </ul>
            </nav>
            <div class="search-bar">
                <form action="/items" method="GET">
                    <input type="text" name="search" placeholder="Search items...">
                    <button type="submit">🔍</button>
                </form>
            </div>        
        </header>


     <% if(errorMessages.length > 0) { %>
        <div class="alert alert-danger">
          <% errorMessages.forEach(message => { %>
            <p><%= message %></p>
          <% }); %>
        </div>
      <% } %>
      
      <% if(successMessages.length > 0) { %>
        <div class="alert alert-success">
          <% successMessages.forEach(message => { %>
            <p><%= message %></p>
          <% }); %>
        </div>
      <% } %>