<%- include('partials/header.ejs')%>

<main>
    <section class="intro">
        <div class="description">
            <h2>Bloom Boutique</h2>
            <p>Welcome to Bloom Boutique! Your one-stop shop for pre-loved dresses.</p>
            <p>Discover amazing deals on quality dresses while promoting sustainable fashion.</p>
            <a href="/items" class="button">Get Started</a>
        </div>
    </section>
    <section class="features">
        <div class="feature">
            <img src="img/pink-dress.png" alt="Affordable">
            <h3>Affordable</h3>
            <p>Get amazing dresses at unbeatable prices.</p>
        </div>
        <div class="feature">
            <img src="img/unique.png" alt="Eco-friendly">
            <h3>Eco-Friendly</h3>
            <p>Look great while being environmentally conscious.</p>
        </div>
        <div class="feature">
            <img src="img/blue-dress.png" alt="Unique">
            <h3>Unique</h3>
            <p>One-of-a-kind dresses that you won’t find in mainstream stores.</p>
        </div>
        <div class="feature">
            <img src="img/d5.png" alt="Convenient">
            <h3>Convenient</h3>
            <p>Browse and shop from the comfort of your home.</p>
        </div>
    </section>
</main>


<%- include('partials/footer.ejs') %>
