<%- include('partials/header.ejs')%>

<main>
    <section class="intro">
        <div class="description">
            <h2>Bloom Boutique</h2>
            <p><em><strong>Pre-loved Fashion. Timeless Styles. Sustainable Future</strong></em></p>

            <br><br>
            <p>Welcome to Bloom Boutique! Your one-stop shop for pre-loved dresses.</p>
            <p>Discover amazing deals on quality dresses while promoting sustainable fashion.</p>
            <br>
            <a href="/items" class="button">Get Started</a>

        </div>
    </section>
    <section class="features">
        <div class="feature">
            <img src="img/money.gif" alt="Affordable">
            <h3>Affordable</h3>
            <p>Get amazing dresses at unbeatable prices.</p>
        </div>
        
        <div class="feature">
            <img src="img/third.gif" alt="Unique">
            <h3>Unique</h3>
            <p>One-of-a-kind dresses that you won’t find in mainstream stores.</p>
        </div>
        <div class="feature">
            <img src="img/eco.gif" alt="Eco-friendly">
            <h3>Eco-Friendly</h3>
            <p>Look great while being environmentally conscious.</p>
        </div>
        <div class="feature">
            <img src="img/fourth.gif" alt="Convenient">
            <h3>Convenient</h3>
            <p>Browse and shop from the comfort of your home.</p>
        </div>
    </section>

    <section class="intro">
        <div class="description">
            <h3><em>Shop Sustainably, Dress Beautifully</em></h3>

            <br><br>
        </div>
    </section>

</main>


<%- include('partials/footer.ejs') %>
